<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Movie Details')"></head>
<body>
    <div class="container">
        <h1>Movie details</h1>
        <div th:if="${movie != null}">
            <p th:text="|Id: ${movie.id}|"></p>
            <p th:text="|Name: ${movie.title}|"></p>
            <p th:text="|Author: ${movie.author}|"></p>
            <p th:text="|Description: ${movie.description}|"></p>
        </div>
        <div th:if="${movie == null}">
            Unable to find song
        </div>
        <a th:href="@{/movies}">Back to movies list</a>
    </div>
    <th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>