<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Songs List')"></head>

<body>
    <h1>List of Songs</h1>
    <ul th:if="${songList.size() > 0}">
        <li th:each="song : ${songList}">
            <a th:href="@{|/songs/${song.id}|}">
                <span th:text="${song.title}"></span>
            </a>
        </li>
    </ul>
    <div th:unless="${songList.size() > 0}">No results</div>
    <a href="/homepage">Return to home</a>
<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>